

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    margin: 0%;
  }

  /*NUEVO CSS CON BOOTSTRAP*/
  .container-fluid{
    height: 100vh ;
    padding: 0;
    padding-top: 0%;
    padding-bottom: 0%;

  }
 
  .posicion{
    height:auto ;
  }
  .colorcabeceras{
    background-color: beige;
  }
  .estilomain{
    background-image: url(../src/Fondo.png);
    height: 70%;
    justify-content: center;
  }
  .estilomain_serv{
    background-image: url(../src/Fondo.png);
    height: 70%;
    justify-content: center;
  }
  .container{
    background-color: beige;
    height: 80%;
    border: 1px;
    background-color: antiquewhite;
    width: 70%;
    flex-direction: row;
    display: flex;
    margin: 0 auto;
    align-content: space-between;
    justify-content: space-evenly;
    padding-top: 2.5%;
  }
  h1{
    color: white;
    position:sticky;
    font-size: 3vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h2{
  font-family: 'Times New Roman', Times, serif;
}
h3 {
  font-family: 'Times New Roman', Times, serif;
}
h5{
  font-family: Arial, Helvetica, sans-serif;
}
.indice{
  flex-wrap: wrap;
  display: inline-block;
}
  .container-fluid{
height: 100vh;
  }
  .main{
    width: 100%;
    background-image: url(../src/Fondo.png);
    justify-content: center;
    align-items: center;
    

} 
.principal{
  height: auto;
  width: 100%;
  text-align: center;
  align-content: space-between;
  justify-content:space-evenly;
  padding-top: 3.5%;
  padding-bottom: 2.5%;
  flex-direction: row;
  display: flex;
  margin: 0 auto;
  }

  h2{
    font-size: 2vw;
text-align: center;
color: white
}
.pregunta{
    width: 15%;
    background-color: rgba(194, 129, 160, 0.059);
    text-align: center;
    color: rgba(214, 150, 150, 0.171)
    align-content: space-between;
    justify-content:space-evenly;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    flex-direction: row;
    display:flex;
    margin:0 auto; 
}

.respuesta{
    font-size: 1vw;
    text-align: center;
    width: 40%;
    background-color: rgba(250, 235, 215, 0.593);
    align-items: centers;
    justify-content: center;
    padding: 0.5%;
    text-align: center;
    height: 80%;
    border: 1px;
    flex-direction: row;
    display: flex;
    margin: 0 auto;
    align-content: space-between;
    justify-content: space-evenly;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    
}
.container2{
  height: 30%;
  width: 30%;
  padding-top: 2.5%;
  padding: auto;
  align-content: center;
}
.serv{
  padding-top: 2.5%;
}

.prox{
  padding-top: 10%;
 justify-items: center;

}
.formu{
  height: 60%;
  border: 2px;
  width: 30%;
  flex-direction: row;
  display: flex;
  padding-bottom: 2%;
  color: antiquewhite;
  align-content: space-between;
  justify-content: space-evenly;
  padding-top: 10%;
  margin: auto;


}
.enviar{
 text-align: center;
 padding-top: 2.5%;
}
.nombre{
  padding-top: 2.5%;
}
.tel{
  padding-top: 2.5%;
}
.cv{
  padding-top: 2.5%;
}
.email{
  padding-top: 2.5%;
}
.logo{
  padding top: 0: ;
}

 /*@media (min-width: 40em) {
    /* Bump up size of carousel content 
   .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }

  
 @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }*/
  
  @media screen and (max-width: 768px) {
    .container-fluid{
      width: auto ;
      height: 100vh;
    }
    .indice{
      display: inline-block;
      height: 20%;
      columns: 4;
      width: auto;
  
    }
    .logo{
      columns: 
    }
    .container {
      display: flex;
      height: 60%;
      justify-content: space-between; 
      width: auto;
   
    } 
    .estilomain_serv{
      height: 70%;;
      background-image: url(../src/Fondo.png);
      justify-content: center;
      padding-bottom: 2%;
      width: auto;

    }
   
      
      .principal{
        height: auto;
        width: 100%;
        text-align: center
        align-content: space-between;
        justify-content:space-evenly;
        padding-top: 3.5%;
        padding-bottom: 2.5%;
        flex-direction: row;
        display: flex;
        margin: 0 auto;
        background-color:rgba(255, 235, 205, 0.36);
        font-size: 5vw;
       }
       .pregunta{
        width: 25%;
        background-color: rgba(194, 129, 160, 0.059);
        text-align: center;
        color: rgba(214, 150, 150, 0.171)
        align-content: space-between;
        justify-content:space-evenly;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        flex-direction: row;
        display:flex;
        margin: 0 auto; 
        font-size: 4vw;}
        .respuesta{
          font-size: 3vw;
          text-align: center;
          width: 50%;
          background-color: rgba(250, 235, 215, 0.593);
          align-items: centers;
          justify-content: center;
          padding: 0.5%;
          text-align: center;
          height: 80%;
          border: 1px;
          flex-direction: row;
          display: flex;
          margin: 0 auto;
          align-content: space-between;
          justify-content: space-evenly;
          padding-top: 2.5%;
          padding-bottom: 2.5%;}  


    }
  
  @media screen and (max-width: 576px) {
    .container-fluid{
      width: auto ;
      height: 100vh;
    }
    .indice{
      display: inline-block;
      height: 20%;
      columns: 4;
      width: auto;
  
    }
    .logo{
      columns: 
    }
    .container {
      display: flex;
      height: 30%;
      justify-content: space-between; 
    } 
    .estilomain_serv{
      height: auto;
      background-image: url(../src/Fondo.png);
    justify-content: center;
    padding-bottom: 2%;

    }
      
      .principal{
        height: auto;
        width: 100%;
        text-align: center
        align-content: space-between;
        justify-content:space-evenly;
        padding-top: 3.5%;
        padding-bottom: 2.5%;
        flex-direction: row;
        display: flex;
        margin: 0 auto;
        background-color:rgba(255, 235, 205, 0.36);
        font-size: 6vw;
       }
       .pregunta{
        width: 25%;
        background-color: rgba(194, 129, 160, 0.059);
        text-align: center;
        color: rgba(214, 150, 150, 0.171)
        align-content: space-between;
        justify-content:space-evenly;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        flex-direction: row;
        display:flex;
        margin: 0 auto; 
        font-size: 4vw;}
        .respuesta{
          font-size: 3vw;
          text-align: center;
          width: 50%;
          background-color: rgba(250, 235, 215, 0.593);
          align-items: centers;
          justify-content: center;
          padding: 0.5%;
          text-align: center;
          height: 80%;
          border: 1px;
          flex-direction: row;
          display: flex;
          margin: 0 auto;
          align-content: space-between;
          justify-content: space-evenly;
          padding-top: 2.5%;
          padding-bottom: 2.5%;}  
        